<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Cookie Consent -->
<script type="text/javascript" id="cookieinfo" src="/js/cookieinfo.min.js" data-bg="#333" data-fg="#FFFFFF" data-divlinkbg="#ff4900" data-divlink="#ddd" data-link="#66A5D6" data-linkmsg="Privacy Policy" data-moreinfo="/privacy.html" data-cookie="CookieInfoScript" data-text-align="left" data-close-text="Got it!">
</script>

{% include pagescript.html %}
