  <!-- page content -->
    <!-- footer -->
    <footer class="footer1">
        <div class="container" id="footer">
            <div class="row">
                <div class="span3 contactWidget">
                    <hr>
					<p>The openHAB Foundation promotes and supports the <a href="http://www.openhab.org/">openHAB</a> project - come and join forces!
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="KPVP4NJESFENY">
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG_global.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                </div>
                <div class="span3 sociallWidget">
                    <hr>
                    <ul class="socialNetwork nav">
                        <p>Follow us on  <a href="http://twitter.com/openhabfdn" class="fa fa-2x fa-twitter-square"  title="@openhabfdn"><span></span></a></p>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer2" id="footerRights">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>Copyright &copy; {{ site.time | date: '%Y' }}, {{ site.organization }}</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->