---
layout: default

---
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Smart Home Blog
            <small>about openHAB and more...</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Blog</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        {% for post in site.posts %}
		  {% if post.categories contains 'blog' %}
		  
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <p class="lead">
                by {{ post.author }}
            </p>
            <p><i class="fa fa-clock-o"></i> Posted on {{ post.date | date: "%B %-d, %Y" }} at 10:00 PM</p>
            <hr>
            <a href="{{ post.url }}">
                <img class="img-responsive img-hover" src="{{ site.placeholderimagesbaseurl }}{{ post.previewimage }}" alt="">
            </a>
            <hr>
            <p>{{ post.excerpt }}</p>
            <a class="btn btn-primary" href="{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>

            <hr>

		  {% endif %}
        {% endfor %}

        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <div class="well">
            <h4>About our blog</h4>
            <p>This blog contains post from different openHAB Foundation members - any member is free to share knowledge, news and information about events etc. here.</p>
            <p>Subscribe to our <a href="/feed.xml">RSS feed</a></p>
        </div>

    </div>

</div>
<!-- /.row -->
