---
layout: default

---
{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Organization Members
		</h1>
		<ol class="breadcrumb">
			<li><a href="{{url_base}}/index.html">Home</a></li>
			<li class="active">Organization Members</li>
		</ol>
	</div>
</div>

<!-- /.row -->

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">


		{% for m in site.posts reversed %}      
		  {% if m.categories contains 'cmember' %}

			<!-- Member -->
			<div class="row">
				<a href="{{ m.url }}">
					<div class="col-md-3">
					
					    {% if m.logo %}
				        	<!-- Logo Image -->
				        	<img class="img-responsive"
							src="/members/images/{{ m.logo }}" title="{{ m.name }}"
							alt="">
				        {% endif %}
					
					</div>
				</a>
				<div class="col-md-9">
					<h4>{{ m.name }}</h4>
					<p>{{ m.excerpt | strip_html | truncatewords: 80 }}</p>
					<a class="btn btn-default btn-sm" href="{{ m.url }}">Member Details<span class="glyphicon"></span></a>
					
				</div>
			</div>
			<!-- /.row -->

			<hr>
		  {% endif %}
		{% endfor %}


		<!-- Pagination -->
<!--		<ul>
			<div class="row text-center">
				<div class="col-lg-12">
					<ul class="pagination">
						<li><a href="#">&laquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
        </ul>
-->
    </div>

	<!-- Blog Sidebar Widgets Column -->
	<div class="col-md-4">

		<div class="well">
			<h4>Become a Member</h4>
			<p>Join the openHAB Foundation and make the difference!</p>
			<a class="btn btn-default btn-sm"
				href="{{url_base}}/members/membership.html">Membership<span class="glyphicon"></span>
			</a>
		</div>

	</div>

</div>
<!-- /.row -->
