---
layout: default

---
{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ page.title }}</h1>
        <ol class="breadcrumb">        
			<li><a href="{{url_base}}/index.html">Home</a></li>
			<li><a href="{{url_base}}/members/memberlist.html">Organization Members</a></li>
            <li class="active">{{ page.title }}</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        {% if page.logo %}
        <!-- Preview Image -->
        <img class="img-responsive mb_img_memberpage" src="/members/images/{{ page.logo }}" alt="">
        {% endif %}

		<p/>

        <!-- Member Content -->

        {{ content }}

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <div class="well">
	        <!-- Contact Details Column -->
	        <h3>Contact Details</h3>
	        <p>
	            {% if page.adressname %}<b>{{ page.adressname }}</b><br>{% else if page.title %}<b>{{ page.title }}</b><br>{% endif %}
	            {% if page.adress1 %}{{ page.adress1 }}<br>{% endif %}
	            {% if page.adress2 %}{{ page.adress2 }}<br>{% endif %}
	            {% if page.adress3 %}{{ page.adress3 }}<br>{% endif %}
	            {% if page.adress4 %}{{ page.adress4 }}<br>{% endif %}
	            {% if page.zipcode %}{{ page.zipcode }}&#160;{% endif %}
	            {% if page.city %}{{ page.city }}<br>{% endif %}
	            {% if page.region %}{{ page.region }}<br>{% endif %}<br>
	        </p>
	        {% if page.phone %}<p><i class="fa fa-phone"></i><abbr title="Phone"></abbr>&#160;{{ page.phone }}</p>{% endif %}
	        {% if page.email %}<p><i class="fa fa-envelope-o"></i><abbr title="Email"></abbr>&#160;<a href="mailto:{{ page.email }}">{{ page.email }}</a></p>{% endif %}
	        {% if page.web %}<p><i class="fa fa-home"></i><abbr title="Website"></abbr>&#160;<a href="{{ page.web }}">{{ page.web }}</a></p>{% endif %}
	        {% if page.twitter %}<p><i class="fa fa-twitter"></i><abbr title="Twitter"></abbr>&#160;<a href="https://twitter.com/{{ page.twitter }}">{{ page.twitter }}</a></p>{% endif %}
	        {% if page.github %}<p><i class="fa fa-github"></i><abbr title="Github"></abbr>&#160;<a href="https://github.com/{{ page.github }}">{{ page.github }}</a></p>{% endif %}
        </div>
    </div>

</div>
<!-- /.row -->
